@use '@/styles/_colors';

.section {
  display: flex;
  flex-direction: column;

  .showCase {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;

    .title {
      color: colors.$contrast2;
      text-transform: uppercase;
    }

    .productWrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 3.75rem;
      column-gap: 0.625rem;
    }

    @media screen and (max-width: 768px) {
      gap: 1.25rem;

      .title {
        font-size: 1.25rem;
      }

      .productWrapper {
        row-gap: 1.25rem;
      }
    }
  }
}
