@use '@/styles/_colors';

.sliderBannerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: rgba($color: colors.$primary, $alpha: 0.6);
}

.sliderBannerWrapper {
  width: 100%;
  max-width: 143.75rem;
  position: relative;
}

.sliderBannerWrapper :global(.slick-list) {
  width: 100%;
  max-height: 31.25rem;
}

.sliderBannerWrapper :global(.slick-track) {
  display: flex;
  flex-direction: row;
}

.containerDepartamentProduct {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 0;
  background-color: colors.$secondary;
  width: 100%;
}

.wrapperImagePet {
  width: 100%;
  min-width: 20rem;
  height: 31.25rem;
}

.wrapperImagePet img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.sliderBannerWrapper :global(.slick-prev) {
  left: 0%;
  top: 50%;
  z-index: 1;
}

.sliderBannerWrapper :global(.slick-next) {
  right: 0%;
  top: 50%;
}

.sliderBannerWrapper :global(.slick-prev),
.sliderBannerWrapper :global(.slick-next) {
  width: 3.625rem;
  height: 4.25rem;
  color: colors.$neutral;
  background: colors.$primary;
}

.sliderBannerWrapper :global(.slick-prev):hover,
.sliderBannerWrapper :global(.slick-prev):focus,
.sliderBannerWrapper :global(.slick-next):hover,
.sliderBannerWrapper :global(.slick-next):focus {
  background: colors.$primary;
}

.sliderBannerWrapper :global(.slick-prev) svg,
.sliderBannerWrapper :global(.slick-next) svg {
  fill: colors.$neutral;
  width: 1.875rem;
  height: 1.875rem;
}

.sliderBannerWrapper :global(.slick-prev):before,
.sliderBannerWrapper :global(.slick-next)::before {
  display: none;
}

@media screen and (max-width: 1170px) {
  .containerDepartamentProduct a {
    display: flex;
  }
}

@media screen and (max-width: 520px) {
  .containerDepartamentProduct a img {
    width: 19.375rem;
  }

  .sliderBannerWrapper :global(.slick-list) {
    max-height: 18.75rem;
  }

  .wrapperImagePet {
    height: 18.75rem;
  }

  .wrapperImagePet img {
    height: inherit;
  }

  .sliderBannerWrapper :global(.slick-prev),
  .sliderBannerWrapper :global(.slick-next) {
    width: 35px;
    height: 48px;
  }

  .sliderBannerWrapper :global(.slick-prev) svg,
  .sliderBannerWrapper :global(.slick-next) svg {
    width: 25px;
    height: 25px;
  }
}
