@use '@/styles/_colors';

.container {
  position: relative;
  min-width: 40px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .button {
    width: 100%;
    background-color: transparent;
    color: #000;
    padding: 0.125rem;
    border: none;
    position: relative;

    .highLight {
      width: 25px;
      height: 25px;
      background-color: colors.$secondary;
      padding: 2px 2px;
      border-radius: 50%;
      color: colors.$neutral;
      font-weight: 700;
      position: absolute;
      top: -12%;
      right: -12%;
    }

    .icon {
      width: 2.5rem;
      height: 2.5rem;
      color: colors.$contrast2;
    }
  }

  .menu {
    background-color: #fff;
    position: absolute;
    right: 0;
    top: calc(100% + 0px);
    padding: 0.9375rem 2.8125rem;
    border: 2px solid colors.$contrast;

    width: fit-content;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.9375rem;

    &.isOpen {
      display: flex;
    }

    p {
      white-space: nowrap;
      font-weight: 700;
      color: colors.$contrast2;
    }

    nav {
      width: 100%;
      text-align: center;
    }

    ul {
      width: 100%;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .item {
        white-space: nowrap;

        a {
          display: inline-block;
          background-color: colors.$primary;
          color: colors.$neutral;
          padding: 0.625rem 1.875rem;
          border-radius: 0.3125rem;
          transition: 0.2s ease-in-out;

          &:hover {
            background-color: colors.$secondary;
          }
        }
      }
    }

    @media screen and (max-width: 520px) {
      left: 0;
      width: 100%;
    }
  }
  @media screen and (max-width: 520px) {
    position: initial;
  }
}
