@use '@/styles/_colors.scss';

.container {
  width: 100%;
  max-height: 3.5rem;
  max-width: 12.25rem;
  position: relative;
  transition: 0.2s ease-in-out;

  input {
    color: colors.$contrast2;
    border: 2px solid colors.$contrast;
    width: 100%;
    padding: 15px 45px 15px 15px;
    transition: inherit;
    outline: none;

    &:focus {
      outline: none;
      border: 2px solid colors.$contrast2;

      & + button {
        svg {
          transform: scale(1.2);
        }
      }
    }

    &::placeholder {
      color: colors.$contrast2;
    }
  }

  button {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    padding: 2px 10px;
    border: none;
    background: transparent;
    transition: inherit;

    svg {
      width: 20px;
      height: 20px;
      color: colors.$contrast2;
    }
  }

  @media screen and (max-width: 768px) {
    & {
      display: none;
    }
  }
}
